<h1> NeoYin cucumber test :) </h1>

<%= form_tag('/welcome/index') do |form| %>
  <p>Is it Friday yet?</p>
  <%= text_area_tag 'cucumber' %>
  <%= submit_tag "submit" %>
<% end %>

<p>answer is</p>
<p></p>
